body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

canvas{
    /* background-image: url(assets/winterrr.avif); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    background: rgb(255, 255, 255);
    display: block;
    width: 100vw;
    height: 100vw;
}
