body{
    /* background: url(assets/image.png) repeat-x; */
    /* background-color: #002971; */
    /* background-repeat: repeat-x; */
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

canvas{
    /* background: url(assets/image.png) repeat-x; */
    
    background-size: 100% auto;
    display: block;
    width: 100vw;
    height: 100vw;
    position: relative;
    z-index: 2;
}

#start-background{
    position: fixed;
    background: url(assets/image.png) center / cover repeat-x;
    inset: 0;
    z-index: 0;
}

#snowlayer{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.start-screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.row-container{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.row{
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

h2{
    font-family: 'Pixelify', sans-serif;
}

#playbutton{
    background-color: #5c7fbb;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2;
}

#giftbutton{
    background-color: #5c7fbb;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2;
}

#settingsbutton{
    background-color: #5c7fbb;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2;
}

#playbutton:hover{
    transform: scale(1.2);
}

#giftbutton:hover{
    transform: scale(1.2);
}

#settingsbutton:hover{
    transform: scale(1.2);
}

#play-button{
    height: 200px;
    width: auto;
}

#gift-button{
    height: 200px;
    width: auto;
}

#settings-button{
    height: 200px;
    width: auto;
}

#settings-button:hover{
    cursor: pointer;
}

#title{
    height: 60%;
    width: auto;
}

#winter-edition{
    padding-top: 120px;
    height: 15%;
    width: auto;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%{
        transform: rotate(5deg) scale(1);
    }
    50%{
        transform: rotate(5deg) scale(1.1);
    }
    100%{
        transform: rotate(5deg) scale(1);
    }
}

.snow{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url(assets/snowflake-icon.png);
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
    0%{
        transform: translate(0,0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(100px, 50vh);
    }
}

.gift-screen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.giftoption{
    width: 250px;
    height: 250px;
    border-radius: 25px;
    background-color: #5c7fbb;
    transform: scale .2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
}

.giftoption:hover{
    transform: scale(1.2);
}

#skins-title{
    padding: 75px;
    width: 500px;
    height: auto;
}

.giftrow-container{
     width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.gift-row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
}

#skinbox{
    width: 220px;
    height: 220px;
    border-radius: 25px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube-skin{
    width: 150px;
    height: auto;
    cursor: pointer;
}

.skin-container{
    display: flex;
}

#settings-container{
    padding-top: 100px;
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
}

#settings-box{
    width: 450px;
    height: 350px;
    background-color: #796237;
    display: flex;
    border: 5px solid #65e516;
    border-radius: 25px;
    box-shadow: 10px 10px  #31332f;    
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#settings-title{
    width: 380px;
    height: 80px;
}

#how-button{
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background-color: #65e516;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

#how-title{
    width: 280px;
    height: 40px;
}

#music-on-icon{
    width: 100px;
    height: auto;
}

.victory {
    width: 100px;
    height: 100px;
    background-color: #65e516;
}

.hidden {
    display: none;
}

#button{
    cursor: pointer;
}

h2{
    color: white;
    font-size: 30px;
}

