body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

canvas{
    background-image: url(assets/winter-background.webp);
    background-size: 100% auto;
    /* background: rgb(0, 0, 0); */
    overflow-x: scroll; 
    border: 1px solid black;
    
}
