body{
    /* background-image: url(assets/winter-background.webp); */
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

canvas{
    background: rgb(0, 0, 0);
}